html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: rgb(285, 185, 145);
    transition: background-color 0.2s linear;
}

#wrapper
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a
{
    outline: none;
    text-align: center;
    margin: 10px;
}

#img-container
{
    padding: 40px;
    border: 5px solid black;
    border-radius: 25px;
    transition: border 0.55s linear;
}

a:focus #img-container,
a:hover #img-container
{
    border: 5px solid white;
}

#logo
{
    max-width: 100%;
}
