html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: rgb(35, 55, 65); /*This should match script's definition of default BG color*/
    transition: background-color 0.2s linear;
}

#wrapper
{
    width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-top: 10vh;
	padding-bottom: 10px;
}

a
{
    text-align: center;
    display: inline-block;
    padding-top: 10px;
}

#banner
{
	display: block;
	max-width: 100%;
    box-sizing: border-box;
}