@font-face
{
    font-family: PixelDigivolve; /*Fantastic font created by Neale Davidson (aka Pixel Sagas)*/
    src: url(../fonts/PixelDigivolve.otf);
}

html
{
    min-height: 100%;
}

body
{
    min-height: 100%;
    background-color: rgb(35, 60, 75);
    background-image: url(../media/bg_stars_transparent.png), linear-gradient(to bottom, rgb(45, 90, 100), rgb(35, 60, 75));
}

body,
.bx-wrapper .bx-pager,
.bx-wrapper .bx-caption span
{
    font-family: PixelDigivolve;
    text-shadow: 3px 2px 1px black;
}

.container,
.bx-wrapper .bx-pager
{
    color: white;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#media-show li img
{
    transition: opacity 0.3s;
    transition: transform 0.4s ease-in-out;
}

#media-show li[aria-hidden="true"] img
{
    opacity: 0.3;
    transform: scale(0.7);
}

.bx-wrapper
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
}

    .bx-wrapper img
    {
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border: 8px solid black;
        border-radius: 25px;
    }

.bx-controls-direction
{
    opacity: 0.25;
    transition: opacity .25s ease-in-out;
}

#media-show-container:hover .bx-controls-direction
{
    opacity: 1;
}

.bx-wrapper .bx-controls-direction a
{
    transform: scale(0.85);
}
