@font-face
{
    font-family: PixelDigivolve; /*Fantastic font created by Neale Davidson (aka Pixel Sagas)*/
    src: url(../fonts/PixelDigivolve.otf);
}

html
{
    min-height: 100%;
}

body
{
    min-height: 100%;
    font-family: PixelDigivolve;
    background-color: rgb(35, 60, 75);
    background-image: url(../media/bg_stars_transparent.png), linear-gradient(to bottom, rgb(45, 90, 100), rgb(35, 60, 75));
}

.container
{
    color: white;
}

#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.media-container
{
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

#media-show li img
{
    transition: opacity 0.3s;
    transition: transform 0.4s ease-in-out;
}

#media-show li[aria-hidden="true"] img
{
    opacity: 0.3;
    transform: scale(0.7);
}

.bx-wrapper
{
    border: 0;
    box-shadow: none;
    background-color: transparent;
}

    .bx-wrapper img
    {
        margin-left: auto;
        margin-right: auto;
    }

.bx-controls-direction
{
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.media-container:hover .bx-controls-direction
{
    opacity: 1;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-caption span
{
    font-family: PixelDigivolve;
}
